body {
  background-color: rgba(226, 216, 202, 0.328);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.main  {
  background-color: rgba(185, 184, 159, 0.625);
  border: 5px solid rgb(165, 84, 205);
  border-radius: 20px;
  box-shadow: 5px 10px ;
  margin: 20px;
  width: 700px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.box1, .box2 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.input1 {
  border: 2px solid black;
  width: 250px;
  padding: 5px;
}

.input::placeholder { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.gender {
  padding-left: 60px;
}
.input2 {
  margin: 0px 10px 10px 0px;
}

.location {
  padding-left: 60px;
  display: flex;
}
#dropdown {
  width: 560px;
  border: 2px solid black;
  padding: 5px;
}

.terms {
  padding: 16px 0px 0px 60px;
}
.termsbox input[type="checkbox"] {
  margin: 0px;
}

.submit {
  text-align: center;
  padding: 40px 20px;
}

.submitbutton {
  width: 250px;
  height: 50px;
  font-size: 20px;
  border: 2px solid black;
}